<div class="modal" [ngStyle]="{'display': showModalRegistro ? 'block' : 'none'} " >
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <p class="modal-title" id="exampleModalAlta">Alta de Actor</p>
          <button type="button" class="close" (click)="cerrar()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <form [formGroup]="form" (keyup.enter)="Submit()">
              <div class="form-group">
                <label for="idActor">Id: </label>
                <input type="text" id="idActor" formControlName="idActor" class="form-control" placeholder="ingrese un Id" [ngClass]="{ 'is-invalid': submitted && f.idActor.errors?.required }">
                <div *ngIf="submitted && f.idActor.errors?.required" class="invalid-feedback"
                  autocomplete="username">
                  <div *ngIf="f.idActor.errors?.required">Debe ingresar un Id.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="nombre">Nombre: </label>
                <input type="text" id="nombre" formControlName="nombre" class="form-control" placeholder="ingrese una descripcion" [ngClass]="{ 'is-invalid': submitted && f.nombre.errors?.required }">
                <div *ngIf="submitted && f.nombre.errors?.required" class="invalid-feedback"
                  autocomplete="nombre">
                  <div *ngIf="f.nombre.errors?.required">Debe ingresar una descripcion.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="apellido">Apellido: </label>
                <input type="text" id="apellido" formControlName="apellido" class="form-control" placeholder="ingrese una descripcion" [ngClass]="{ 'is-invalid': submitted && f.apellido.errors?.required }">
                <div *ngIf="submitted && f.apellido.errors?.required" class="invalid-feedback"
                  autocomplete="apellido">
                  <div *ngIf="f.apellido.errors?.required">Debe ingresar una descripcion.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="fechaNacimiento">fechaNacimiento: </label>
                <input type="text" id="fechaNacimiento" formControlName="fechaNacimiento" class="form-control" placeholder="ingrese una descripcion" [ngClass]="{ 'is-invalid': submitted && f.fechaNacimiento.errors?.required }">
                <div *ngIf="submitted && f.fechaNacimiento.errors?.required" class="invalid-feedback"
                  autocomplete="fechaNacimiento">
                  <div *ngIf="f.fechaNacimiento.errors?.required">Debe ingresar una descripcion.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="sexo">Sexo: </label>
                <select id="sexo" formControlName="sexo" class="form-control" placeholder="sexo">
                  <option selected value="">Seleccione</option>
                  <option >Masculino</option>
                  <option>Femenino</option>
                </select>
                <div *ngIf="submitted && f.sexo.errors?.required" class="invalid-feedback">
                  <div *ngIf="f.sexo.errors?.required">Debe ingresar un Estado.</div>
                </div>
            </div>
              <div class="form-group">
                <label for="nacionalidad">Nacionalidad: </label>
                <select id="nacionalidad" formControlName="nacionalidad" class="form-control" placeholder="nacionalidad">
                  <option selected value="">Seleccione</option>
                  <option >Argentina</option>
                  <option>EEUU</option>
                  <option>España</option>
                  <option>China</option>
                  <option>Brasil</option>
                  <option>Chile</option>
                  <option>Italia</option>
                </select>
                <div *ngIf="submitted && f.nacionalidad.errors?.required" class="invalid-feedback">
                  <div *ngIf="f.nacionalidad.errors?.required">Debe ingresar un Estado.</div>
                </div>
            </div>
            <div class="form-group">
              <label for="fechaNacimiento">fechaNacimiento: </label>
              <input type="text" id="fechaNacimiento" formControlName="fechaNacimiento" class="form-control" placeholder="ingrese una descripcion" [ngClass]="{ 'is-invalid': submitted && f.fechaNacimiento.errors?.required }">
              <div *ngIf="submitted && f.fechaNacimiento.errors?.required" class="invalid-feedback"
                autocomplete="fechaNacimiento">
                <div *ngIf="f.fechaNacimiento.errors?.required">Debe ingresar una descripcion.</div>
              </div>
            </div>
              <small *ngIf="error" class="text-danger font-weight-bold"><i class="fa fa-times"></i> {{errorMessage}} </small>
              <small *ngIf="success" class="text-success font-weight-bold"><i class="fas fa-check"></i> Todo registrada
                correctamente. </small>
             <div class="modal-footer">
              <button type="submit" class="btn btn-primary col-5" (click)="Submit()">Registrar</button><br>
              <button type="submit" class="btn btn-secondary col-5" (click)="cerrar()">Cancelar</button><br>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

