@import "../../../../assets/Estilos/estilos-generales.scss";

h1{
    text-align: center;
    font-family: $font-family;
    font-size: 60px;
    color: $color06;
}
form {
    padding: 10px;
    
  }
  .ok{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  .contenedor
  {
  position: fixed;
  width: 40%;
  border-radius: 10px;
  
  background-color: rgb(211, 209, 209);
  padding: 20px;
  box-sizing: border-box;
  margin: 20px auto;
  left: 32%;
  top: 50px;
  animation-name: aparecer;
  animation-duration: 1s;
  }
  @keyframes aparecer
  {
  from{opacity: 0}
  to{opacity: 1}
  }
  .close {
    position: absolute;
    right: 35px;
    top: 15px;
    color:black;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }