<h3>{{title}}</h3>
<table class="table table-sm table-hover table-light table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Actor</th> 
                  <th>Nombre</th>
                  <th>Apellido</th>
                  <th>Nacionalidad</th> 
                  <th>Fecha Nacimiento</th>
                  <th>Sexo</th> 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let actor of listaActorxPeli">
                  <td><img class="img-thumbnail" width="50" src="{{actor.foto}}"
                      alt="Imagen"></td>
                  <td>{{actor.nombre}}</td>
                  <td>{{actor.apellido}}</td> 
                  <th>{{actor.nacionalidad}}</th>
                  <th>{{actor.fechaNacimiento}}</th>   
                  <th>{{actor.sexo}}</th>          
                </tr>
              </tbody>        
    </table>
